body{
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
html
{
  font-size: 62.5%;
}
.login-page{
    display: flex;
    justify-content: center;
    margin-top: 30rem;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1.2rem;
    border: 0.1rem solid;
    border-color: black;
    border-radius: 1.5rem;
    background-color: white;
}
.input-wrapper > h1{
    text-align: center;
    justify-content: center;
    padding: 1rem;
    font-size: 3.5rem;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pass-input{
    width: 30rem;
    height: 3.7rem;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 0.5rem;
}
.submit-button{
    background-color: rgb(17, 155, 214);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 0.5rem;
    border: 0;
    border-radius: 2.5rem;
    width: 12rem;
    height: 5rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
}
.success-text,.fail-text{
    text-align: center;
    margin-top: 5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
    color: white;
}
@media(max-width:998px){
    html{
      font-size: 55%;
    }
  }
  @media(max-width:768px){
    html{
      font-size: 35%;
    }
  }